# Database
DATABASE_URL="postgresql://..."

# Auth (NextAuth/Google) - Jika ada
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# reCAPTCHA v2 API Keys
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="YOUR_SITE_KEY_HERE"
RECAPTCHA_SECRET_KEY="YOUR_SECRET_KEY_HERE"
